@using LightStore.Models
@using LightStore.Web
@using Action = System.Action
@model LightStore.Models.Category

@{
    ViewBag.Title = "EditCategory";
}

<head>
    <link href="../../Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="../../Content/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<form method="POST">
    <div class="container">
        <div class="col-sm-12">
            @LightStotreHtmHelper.DisplayTitleForCategory(LightStore.Web.Action.Edit, Model);
        </div>

        <div class="col-sm-12" style="border: solid gainsboro;">
            <div class="col-sm-12">
                @{
                    if (Model.ParentCode != null)
                    {
                        <div class="row clearfix" style="visibility: hidden; height: 0px">
                            <div>
                                <input name="ParentCode" type="text" value="@Model.ParentCode" />
                            </div>
                        </div>
                    }
                }
                
                <div class="row clearfix" style="visibility: collapse;height: 0PX">
                    <div style="visibility: collapse">
                        <input type="text" id="Code" name="Code" value="@Model.Code" style="visibility: collapse" />
                    </div>
                </div>
                
                <div class="row clearfix">
                    <div class="col-sm-4 col-xs-12 col-xs-12" style="margin-top: 3px">
                        @Html.LabelFor(model => model.Discount)
                    </div>
                    <div class="col-sm-8 col-xs-12" style="margin-bottom: 2px; margin-top: 3px">
                        @Html.EditorFor(model => model.Discount)
                        @Html.ValidationMessageFor(model => model.Discount)
                    </div>
                </div>
               
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 3px">
            <input type="submit" value="Save" />
            |
            @Html.ActionLink("Back to List", "ListCategories", "Product", null)
        </div>
    </div>
</form>