@using LightStore.DataAccess
@using LightStore.Models
@using LightStore.Web.Security
@model IEnumerable<CategoryViewModel>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap-slider.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="col-sm-12">
        <table width="100%">
            <tr>
                <td style="width: 80%">
                    <h2>
                        List Categories    
                    </h2>
                </td>
                <td align="right" valign="middle">
                    @{
                        if (AuthorizeHelper.IsCurrentUserAdmin())
                        {
                            @Html.ActionLink("Add Category", "CreateCategory", "Product")
                        }   
                    }
                </td>
            </tr>
        </table>
    </div>
    
    <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="row clearfix">
                    <div class="col-sm-12" style="margin-top: 3px">
                        <div class="panel-group" id="categories">
                            @{
                                List<CategoryViewModel> categories = CategoryDAO.GetAllCategoryViews();
                                for (int i = 0; i < categories.Count; i++)
                                {
                                    CategoryViewModel category = categories[i];
                                    string collapseStyle = "collapse";
                                    if (i == 0)
                                    {
                                        collapseStyle = "collapse in";
                                    }
                                    
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <table width="100%">
                                                <tr>
                                                    <td style="width: 60%">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#categories" href="#@category.Code">
                                                                @category.Name
                                                            </a> 
                                                        </h4>
                                                    </td>
                                                    <td align="right" valign="middle">
                                                        @{
                                                            if (AuthorizeHelper.IsCurrentUserAdmin())
                                                            {
                                                                @Html.ActionLink("Add SubCategory", "CreateCategory", "Product", new { parentCategoryCode = category.Code }, null)
                                                                @Html.Label(" | ")
                                                                @Html.ActionLink("Edit", "EditCategory", "Product", new { id = category.Code }, null)
                                                                @Html.Label(" | ")
                                                                
                                                                if (category.SubCategories.Count == 0)
                                                                {
                                                                        @Html.ActionLink("Delete", "DeleteCategory", "Product", new { id = category.Code }, null)
                                                                }
                                                                else
                                                                {
                                                                        <label style="color: gray">Delete</label>       
                                                                }
                                                            }   
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div id="@category.Code" class="panel-collapse @collapseStyle">
                                            <div class="panel-body">
                                                <table width="100%">
                                                    <tr>
                                                        <th>
                                                            Code
                                                        </th>
                                                        <th>
                                                            Name
                                                        </th>
                                                        <th>
                                                            #Products
                                                        </th>
                                                    </tr>
                                                    @foreach (CategoryViewModel subCategory in category.SubCategories)
                                                    {
                                                        <tr>
                                                            <td style="width: 15%">
                                                                @Html.DisplayFor(modelItem => subCategory.Code)
                                                            </td>
                                                            <td style="width: 20%">
                                                                @Html.DisplayFor(modelItem => subCategory.Name)
                                                            </td>
                                                            <td style="width: 40%">
                                                                @Html.ActionLink(subCategory.ProductsNumber.ToString(), "ListProducts", new { categoryCode = subCategory.Code}, null)
                                                            </td>
                                                            <td style="width: 25%">
                                                                @{
                                                                        if (AuthorizeHelper.IsCurrentUserAdmin())
                                                                        {
                                                                            @Html.ActionLink("Add Product", "CreateProduct", "Product", new { categoryCode = subCategory.Code }, null)
                                                                            @Html.Label(" | ")
                                                                            @Html.ActionLink("Edit", "EditCategory", "Product", new { id = subCategory.Code }, null)
                                                                            @Html.Label(" | ")
                                                                        }
                                                                    
                                                                        @Html.ActionLink("Details", "ShowCategory", "Product", new { id = subCategory.Code }, null)
                                                                    
                                                                        if (AuthorizeHelper.IsCurrentUserAdmin())
                                                                        {
                                                                            @Html.Label(" | ")
                                                                            if (subCategory.ProductsNumber == 0)
                                                                            {
                                                                                     @Html.ActionLink("Delete", "DeleteCategory", "Product", new { id = subCategory.Code }, null)
                                                                            }
                                                                            else
                                                                            {
                                                                                      <label style="color: gray">Delete</label>       
                                                                            }
                                                                        }
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



