@using LightStore.Models
@using LightStore.Web
@using LightStore.Web.Security
@model LightStore.Models.Product

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap-slider.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="col-sm-12">
        <h2>@Model.Title</h2>
    </div>
    <div class="col-sm-12" style="border: solid gainsboro; padding: 0px; padding-left: 3px">
        <div class="col-sm-6">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <img src="/Product/ShowPhoto/@Model.Code" />
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12">
                    @{
                        @LightStotreHtmHelper.DisplayColors(Model.Colors)
                    }
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12" style="background-color: azure">
                    @LightStotreHtmHelper.DisplayPrice(@Model.Price, @Model.Discount)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12">
                    @LightStotreHtmHelper.DisplaySize(@Model.Length, @Model.Width, @Model.Height)
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-xs-12" style="background-color: azure">
                    @LightStotreHtmHelper.DisplayLabel(@Model.Description)
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row clearfix">
                <div class=" col-xs-12" style="padding: 0px">
                    <table width="100%">
                        <tr>
                            <td align="right" valign="top">
                                @if (@Model.IsRecommended)
                                {
                                    <img src="../../Content/Images/Recommended.png"/>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        @{
            if (AuthorizeHelper.IsCurrentUserAdmin())
            {
                @Html.ActionLink("Edit", "EditProduct", new { id = Model.Code })
                @Html.Label(" | ")
            }   
        }
        @Html.ActionLink("Back to List", "ListProducts", "Product", new {categoryCode = @Model.Category.Code}, null)
    </div>
</div>
