@using LightStore.DataAccess
@using LightStore.Models
@using LightStore.Web

@{
    ViewBag.Title = "ShopList";
}

<html>
    <head>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <script src="~/Content/Scripts/FinishShop.js"></script>
        <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="~/Content/Scripts/ClosePayment.js"></script>
@*        <script src="~/Content/Scripts/ShowPaymentDialog.js"></script>*@
    </head>


    
        <div class="container">
            <div class="col-sm-12">
                <table width="100%" style="border: solid gainsboro">
                    <tr class="headerRow">
                        <td></td>
                        <td><b>Title</b></td>
                        <td><b>Price</b></td>
                        <td><b>Count</b></td>
                        <td><b>Total</b></td>
                    </tr>
                    @{
                        decimal totalPrice = 0;
                        decimal totalSalePrice = 0;
                        List<int> shopList = (List<int>)Session["ShopItems"];

                        int rowIndex = 0;
                        string rowClass = null;
                        foreach (IGrouping<int, int> item in @shopList.GroupBy(x => x).ToList())
                        {
                            Product product = ProductDAO.Get(item.Key);
                            totalPrice += product.Price;
                            totalSalePrice += product.SalePrice;
                            rowClass = (rowIndex % 2 == 0) ? "alternativeRow" : null;
                            <tr class="@rowClass">
                                <td>
                                    <img src="/Product/ShowPhoto/@product.Code" style="height: 100px;" />
                                </td>
                                <td>
                                    @Html.ActionLink(product.Title, "ShowProduct", "Product", new { id = @product.Code }, null)
                                </td>
                                <td>@LightStotreHtmHelper.DisplayPrice(product.Price, product.Discount)</td>
                                <td>@item.Count()</td>
                                <td>@LightStotreHtmHelper.DisplayPrice(item.Count() * product.Price, product.Discount)</td>
                            </tr>

                            rowIndex = rowIndex + 1;
                        }
                    }

                    <tr>
                        <td colspan="3"></td>
                        <td><b>Total Price:</b></td>
                        <td>
                            @LightStotreHtmHelper.DisplayPrice(totalPrice, totalSalePrice)

                            <button type="button" class="dropdown btn btn-default" id="menuLogin" style="max-width: 100px">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Payment
                                </a>

                                <div class="dropdown-menu" style="padding:17px;">
                                    @Html.Partial("Payment")
                                </div>

                            </button>
                        </td>
                    </tr>
                    
                </table>
            </div>

        </div>

</html>


