@using BookStore.DataAccess
@using BookStore.Models
@using BookStore.Web

@{
    ViewBag.Title = "ShopList";
}

<html>
    <head>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="~/Content/Scripts/GetSetSession.js"></script>
        <script src="~/Content/Scripts/DeleteShopItem.js"></script>
    </head>


    
        <div class="container">
            <div class="col-sm-12">
                <table width="100%" style="border: solid gainsboro">
                    <tr class="headerRow">
                        <td></td>
                        <td><b>Title</b></td>
                        <td><b>Price</b></td>
                        <td><b>Count</b></td>
                        <td><b>Total</b></td>
                        <td></td>
                    </tr>
                    @{
                        decimal totalPrice = 0;
                        decimal totalSalePrice = 0;
                        List<int> shopList = (List<int>)Session["ShopItems"];

                        int rowIndex = 0;
                        string rowClass = null;
                        foreach (IGrouping<int, int> item in @shopList.GroupBy(x => x).ToList())
                        {
                            Book book = BookDAO.Get(item.Key);
                            totalPrice += book.Price;
                            totalSalePrice += book.SalePrice;
                            rowClass = (rowIndex % 2 == 0) ? "alternativeRow" : null;
                            <tr class="@rowClass">
                                <td>
                                    <img src="/Book/ShowPhoto/@book.Code" style="height: 100px;" />
                                </td>
                                <td>
                                    @Html.ActionLink(book.Title, "ShowBook", "Book", new { id = book.Code }, null)
                                </td>
                                <td>@LightStotreHtmHelper.DisplayPrice(book.Price, book.Discount)</td>
                                <td>@item.Count()</td>
                                <td>@LightStotreHtmHelper.DisplayPrice(item.Count() * book.Price, book.Discount)</td>
                                <td>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm" onclick="DeleteShopItem(@book.Code)">
                                        Delete
                                    </button>
                                </td>
                            </tr>

                            rowIndex = rowIndex + 1;
                        }
                    }

                    <tr>
                        <td colspan="3"></td>
                        <td><b>Total Price:</b></td>
                        <td>
                            @LightStotreHtmHelper.DisplayPrice(totalPrice, totalSalePrice)

                            <button type="button" class="dropdown btn btn-default" id="menuLogin" style="max-width: 100px">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Payment
                                </a>

                                <div class="dropdown-menu" style="padding:17px;">
                                    @Html.Partial("Payment")
                                </div>

                            </button>
                        </td>
                        <td></td>
                    </tr>
                    
                </table>
            </div>
            
            <div class="col-sm-12">
                @Html.ActionLink("Back to List", "ListBooks", "Book")
            </div>

        </div>

</html>


