@using BookStore.Web
@model BookStore.Models.Book

<head>
    <script src="~/Content/Scripts/Session.js"></script>
    <script src="~/Content/Scripts/GetBookStock.js"></script>
    <script src="~/Content/Scripts/AddShopItem.js"></script>
</head>
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <div class="well">
        <div style="float: left; width: 50%">
            <img src="/Book/ShowPhoto/@Model.Code" style="height: 100px;" />
        </div>

        <div style="height: 2px"></div>

        <div style="padding-top: 5px">
            <h5>
                @Html.ActionLink(Model.Title, "ShowBook", new { id = @Model.Code })
            </h5>
            by <I>@Model.Author</I>
        </div>

        <div>
            @BookStotreHtmHelper.DisplayPrice(@Model.Price, @Model.Discount)
        </div>

        <div style="padding-top: 5px">
            @if (Model.InStock > 0)
            {
                <h5>
                    <span id="@BookStotreHtmHelper.Contact("spnBookStock-", @Model.Code.ToString())">
                        <b>@Model.InStock</b> Items are available.
                    </span>
                </h5>
            }
            else
            {
                <h5>
                    <b>No</b> Item is available.
                </h5>
            }
        </div>

        <div style="padding-top: 2px">
            @if (Model.InStock > 0)
            {
                <button id="@BookStotreHtmHelper.Contact("btnAdd-", @Model.Code.ToString())"
                        class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-sm"
                        onclick="AddShopItem(@Model.Code)">
                    Add
                </button>

                <span id="@BookStotreHtmHelper.Contact("prg", @Model.Code.ToString())" style="display: none">
                    <b>Added</b>
                </span>
            }
            else
            {
                <button disabled="disabled" class="btn btn-default">
                    Add
                </button>
            }
        </div>
    </div>
</div>

